/*Algemeen*/
* {

	font-family: avenir next;
	font-size: 19px;
}

li:hover {
	text-decoration: underline;
}

li {
	padding: 1rem;
}

a {
	text-decoration: underline;
	color: black;
	text-decoration: none;
}

a:hover {
	color: red;
}

li:hover {
	color: red;
}


/*Navigatie*/

/*link*/
ul:first-child div {
	display: flex;
}

/*Navigatie balk boven in*/
header {
	background-color: white;
	height: 30px;
	left: 0;
	padding: 21px 0;
	position: fixed;
	top: 0;
	width: 100%;
}

/*Iconen & logo*/
nav ul {
	display: flex;
	list-style-type: none;
	margin-top: -10px;
}

/*iconen + tekst*/
header nav ul div:last-child {
	margin-left: 500px;
	margin-top: 20px;
}




/*Iconen*/
li img {
	height: 20px;
	padding: -40px;
	float: right;
	width: 20px;
}

/*logo in het midden op de pagina*/
.mainindex figure:nth-of-type(1) img {
	display: flex;
	width: 100px;
	margin: auto;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: -50px;
	transition: width 1s, height 1s, background-color 1s, transform 1s;

}

.mainindex figure:nth-of-type(1) img:hover {
	transform: rotate(360deg);
}

/*Horizontale menu onder logo*/
main div:nth-of-type(1) ul li {
	font-size: 15px;
	display: flex;
	float: left;
}

main div:nth-of-type(1) ul {
	margin-top: 100px;
	display: flex;
	justify-content: center;
}

/*3 zinnen boven de afbeeldingen*/
main div:nth-of-type(2) ul {
	display: flex;
	justify-content: center;
	margin: auto;
	width: 1050px;
}

main div:nth-of-type(2) ul li {
	font-size: 14px;
}

/*Logo*/
nav figure img {
	height: 22px;
	margin-left: -39px;
}

/*hamburger menu*/
div.hamburger {
	width: 1.1rem;
	height: 0.8rem;
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 20px;
	left: -15px;
	top: 3px;
}

.hamburger span {
	height: 0.1rem;
	width: 10rem;
	display: block;
	background: #222222;
}

.hamburger span::before,
span::after {
	content: '';
	height: 0.1rem;
	width: 100%;
	position: absolute;
	background: #222222;
}

.hamburger span::before {
	top: 0px;

}

.hamburger span::after {
	bottom: 0px;
}

/*Einde van de header*/


/*Hoofdpagina foto's*/
/*tekst boven afbeeldingen*/
main p {
	font-size: 11px;
	text-align: center;
	font-weight: 270;
	margin: 110px 0 25px 0;
}

main li {
	justify-content: center;
	list-style-type: none;
	letter-spacing: 2.5px;
	font-size: 24px;
	font-weight: 540;
}

article ul {
	text-align: center;
	margin-right: 45px;
}

/*Grote foto's op hoofdpagina*/
main article:first img {
	margin-top: 20px;
	margin-left: 15px;
	margin-right: 30px;
	height: 100%;
	width: 330px;
}

/*Einde hoofdpagina foto's*/


/*Magazine afbeeldingen*/

.mainindex section:first-child div article {
	width: 400px;
}

.mainindex section:nth-of-type(1) {
	background: #f4eddd;
	padding: 48px 24px;
	text-align: center;
}

.mainindex section:nth-of-type(1) div article img {
	width: 400px;
}

/*tekst boven de afbeeldingen*/
h2 {
	text-align: center;
	background-color: #f4eddd;
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 2px;
}

/*link boven de afebeeldingen*/
section li a {
	font-size: 13px;
	text-align: center;
	margin-right: 40px;
	background-color: #f4eddd;
	text-decoration: underline;
	letter-spacing: 3px;
}

article img {
	max-width: 100%;
}

/*Witte vlak om de magazine afbeeldingen*/
article {
	background-color: white;
	margin-bottom: 35px;
	padding-bottom: 20px
}

/*Tekst onder de afbeeldingen magazine*/
article p {
	text-align: center;
	font-size: 13px;
	line-height: 20px;
	margin-top: 20px
}

h3 {
	font-size: 16px;
	text-align: center;
	line-height: 20px;
	font-weight: 540;
	max-width: 250px;
	margin: auto;
	margin-bottom: 30px;
}

main article img {
	display: flex;
	margin-bottom: 20px;
}

/*Link onder de afbeeldingen magazine*/
article a {
	font-size: 10px;
	margin-bottom: 30px;
}

/*laatste groene border*/

.mainindex section:last-child {
	box-sizing: border-box;
	max-height: 125px;
	max-width: 325px;
	padding: 10px;
	background-color: #C1C5A3;
	color: white;
	margin: 25px auto 20px;
}

main section:last-child h3 {
	margin: 10px 50px 0;
	font-size: 15px;
}

main section:last-child p {
	font-size: 12px;
	text-align: center;
	margin: 5px 20px;
	font-weight: 100
}

/*Einde laatste groene border*/
/*Einde magazine afbeeldingen*/


/*Footer*/
footer {
	height: 650px;
}

/*Link Lijst in de Footer*/
footer ul {
	list-style-type: none;
	margin-top: 0px;
	padding: 25px 0 0 3px;
	font-weight: 600;
	margin-bottom: -15px;
	margin-top: -20px;
}

footer li {
	background-color: #E4E4E4;
	font-size: 12px;
}

/*Tekst in footer "meld je nu aan"*/
h4 {
	text-align: center;
	font-size: 12px;
	font-weight: 550;
	margin-top: 50px;
	margin-bottom: -23px;
	letter-spacing: 1px;
}

/*Tekst onder de Social media iconen*/
footer p {
	background-color: #E4E4E4;
	text-align: center;
	font-size: 13px;
	line-height: 17px;
	margin: 8px 23px;
	font-weight: 440;
	padding-top: 30px;
	word-spacing: 2px;
}

/*Social media iconen*/
footer img {
	width: 20px;
	height: auto;
	padding: 5px;
}

/*Alle social media iconen*/
footer ul:nth-of-type(3) {
	display: flex;
	justify-content: center;
	margin-bottom: -40px;

}

/*Animatie van de footer*/
footer,
footer ul,
footer h4,
footer p,
footer li {
	animation: pulse 5s infinite;
}

@keyframes pulse {
	0% {
		background-color: #949494;
		color: white
	}

	100% {
		background-color: #e4e4e4;
		color: black;
	}
}

/*Social media iconen worden groter bij hover*/
footer ul:nth-of-type(3) img:hover {
	width: 40px;
}

/*hamburger menu*/
div .navigation {
	margin-left: -12px;
}

div .navigation ul {
	background-color: #FAF9F8;
	display: flex;
	flex-direction: column;
	margin-top: -20px;
	margin-left: -35px;
	width: 100%;
	transform: translateX(-100%);
	position: absolute;
}

div .navigation ul.active {
	transform: translateX(0);
}

.navigation ul li:first-child {
	background-color: #EDDED8;
}

/*einde hamburger menu*/
/*Einde Footer*/

/*Nieuwsletter pagina*/

/*Titel form*/

.mainnieuws figure:nth-of-type(1) img {
	display: flex;
	width: 100px;
	margin: auto;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: -50px;
	transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.mainnieuws figure img:hover {
	transform: rotate(360deg);
}

.detail h2 {
	font-size: 40px;
	text-align: left;
	line-height: 36px;
	background-color: white;
	margin-top: 90px;
	margin-left: 360px
}

/*tekst onder de titel*/
.detail h3 {
	text-align: left;
	font-size: 24px;
	line-height: 30px;
	margin-left: 360px;
	font-weight: 500;
}

/*Invulformulier*/
/*lijst van drie punten in het form*/
.detail .mainnieuws div:nth-of-type(3) ul li {
	list-style-type: disc;
	font-size: 13px;
	margin-left: 350px;
	letter-spacing: 0px;
	line-height: 0px;
}

/*MELD JE NU AAN tekst*/
form h4 {
	margin: 25px 0px;
	text-align: left;
	line-height: 25px;
	font-size: 16px;
	margin-left: -135px;
}

.detail .menunieuws form fieldset div:nth-of-type(1) {
	width: 200px;
}

/*Geslacht in het form*/
form p {
	font-size: 17px;
	margin-top: auto;
	margin-bottom: -10px;
	display: flex;
	justify-content: flex-start;
	margin-left: -135px;
}

.detail .menunieuws form fieldset div:nth-of-type(2) label {
	margin-top: 40px;
}

/*het Form naast menulinks krijgen*/
.detail fieldset label:first-child {
	margin-left: -135px;
}

.detail fieldset #postcode {
	margin-left: -135px;
}

/*tekst vlakken*/
input {
	border: 1px solid #D0D0D0;
	height: 40px;
	margin-left: -135px;
	transition: border-width 0.6s linear;
}

/*hover bij de tekstvelden*/
input:hover {
	border-width: 10px;
}

input:focus {
	background-color: #FCEEF9;
}

input:active {
	border-color: #BD2725;
}

label {
	display: block;
	font-size: 13px;
	text-align: left;
	margin-bottom: -5px;
	margin-left: 0px;
}

.detail main figure:first-child img {
	margin-top: 60px;
	margin-left: 750px;
	margin-bottom: -80px;
	width: 100px;
	height: auto;
}

form div:last-child {
	margin-left: 40px;
}

/*Afbeelding bovenaan de site nieuws*/
.detail .mainnieuws figure:nth-of-type(2) img {
	width: 76%;
	margin-left: 320px;
}

/*Geslacht naast elkaar*/
.detail form div {
	display: flex;
	align-items: center;
	margin-left: 75px;
}

.detail form div:last-child {
	display: flex;
	align-items: flex-start;
	margin-left: -45px;
	margin-top: 30px;
}

/*Knop voor de nieuwletter*/
button {
	background-color: #D0D0D0;
	margin: 40px auto 40px 380px;
	width: 330px;
	height: 50px;
	font-size: 14px;
	font-weight: 500;
	margin-top: 200px;

	transition: width 1s, height 1s, background-color 1s, transform 1s;
}

button:hover {
	background-color: #BD2725;
	transform: rotate(180deg);
	color: white;
}

fieldset {
	border: none;
	line-height: 40px;
	margin-left: 500px;
}

/*Tekst velden groter maken*/
.detail form fieldset #email {
	width: 300px;
	height: 40px;
}

.detail form fieldset #POSTCODE {
	width: 300px;
	height: 40px;
}

/*menulinks*/
.detail .mainnieuws div:nth-of-type(2) {
	position: absolute;
	margin-left: -40px;
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

.detail .mainnieuws div:nth-of-type(2) ul {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-top: 30px;
	width: 300px;
}

.detail .mainnieuws div:nth-of-type(2) ul li {
	font-size: 14px;
	line-height: 0px;
	display: flex;
	flex-direction: column;
	letter-spacing: 0px;
	width: 300px;
}

.detail .mainnieuws div:nth-of-type(2) h5 {
	margin-left: 68px;
	margin-bottom: -15px;
	font-weight: 600;
}


/*Verschillende breakpoints*/
@media (max-width: 1000px) {
	/*je past hier iets aan op de mobiel versie*/

	main article:first-child img {
		width: 90%;
	}

	.mainindex figure img {
		display: none;
	}

	main div:nth-of-type(2) ul {
		margin-top: 80px;
	}

	header nav ul div:last-child a {
		display: none;
	}

	main div:nth-of-type(2) ul li {
		display: none;
	}

	.detail .mainnieuws figure:nth-of-type(2) img {
		width: 132%;
		margin-left: -50px;
	}

	.detail h2 {
		font-size: 28px;
		text-align: left;
		margin-top: 90px;
		margin-left: 0px;
	}

	.mainindex figure:nth-of-type(1) img {
		display: none;
	}

	.detail .mainnieuws div:nth-of-type(2) {
		display: none;
	}

	.detail .mainnieuws figure:nth-of-type(1) img {
		display: none;
	}

	main div:nth-of-type(1) ul {
		display: none;
	}

	header nav ul div:last-child {
		margin-left: 30px;
		margin-top: 0px;
		padding: -10px;
	}

	header ul #hamburger span {
		display: none;
	}

	.mainindex section:nth-of-type(1) div article img {
		width: 150%;
	}

	.mainindex section:nth-of-type(1) div article {
		width: 100%;
		margin-left: -10px;
	}

	main p:first-child {
		margin-bottom: -60px;
		margin-top: 90px;
	}

	header nav ul div:nth-of-type(2) {
		display: none;
	}

	.detail form button {
		margin-left: 30px;
	}

	button {
		margin-top: 20px;
	}

	.detail h4 {
		margin-left: 0px;
	}

	.detail h3 {
		margin-left: 0px;
	}

	.detail .mainnieuws div:nth-of-type(3) {
		margin-left: -350px;
	}

	.detail form fieldset p {
		margin-left: -300px;
	}

	.detail form fieldset input {
		margin-left: 0px;
	}

	.detail form fieldset {
		margin-left: 0px;
	}

	.detail fieldset label:first-child {
		margin-left: 0px;
	}

	.detail fieldset #postcode {
		margin-left: 0px;
	}

	.mainindex section:nth-of-type(1) div {
		margin: 10px;
		position: inherit;
		width: 100%
	}

	#magazine {
		width: 93%;
	}

	.detail .mainnieuws figure:nth-of-type(2) img {
		margin-top: 50px;
		margin-bottom: -80px;
	}

	.detail form div {
		margin-left: 0px;
	}

	.detail form div:last-child {
		margin-left: 0px;
	}

	form p {
		display: inherit;
	}
}

@media (min-width: 1000px) {
	/*je past hier iets aan bij de laptop versie*/

	li img {
		margin-left: 4px;
	}

	header nav ul div:last-child {
		margin-left: auto;
	}

	.mainindex article:nth-of-type(1) img {
		width: 1200px;
		margin: auto;
		margin-bottom: 60px;
	}

	.mainindex article:nth-of-type(1) ul {
		display: none;
	}

	header nav ul div:last-child li {
		display: flex;
		justify-content: flex-end;
		margin-left: 10px;
	}

	.hamburger {
		display: none;
	}

	main p:first-child {
		display: none;
		margin-bottom: 400px;
	}

	header figure img {
		display: none;
	}

	.mainindex section:nth-of-type(1) div {
		display: flex;
		justify-content: center;
		margin: auto;
	}

	.mainindex section:nth-of-type(1) div article {
		margin: 40px;
	}

	.mainindex section:last-child {
		display: none;
	}


	footer {
		margin-top: 110px;
		width: 100%;
	}

	header {
		position: inherit;
	}

	header nav ul .hamburger {
		display: none;
	}

	.detail footer {
		margin-top: 900px;
	}

	.detail fieldset label {
		font-size: 15px;
	}

	form div:last-child label {
		margin-left: -95px;
		width: 900px;
	}

	form div:last-child input {
		margin-left: -90px;
	}

	.detail form fieldset #email {
		height: 60px;
	}

	.detail form fieldset #POSTCODE {
		height: 60px;
	}
}
